h1 {
    color: rgb(112, 6, 59);  
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
  }
a  {
  color: rgb(112, 6, 59);
  text-align: center;
  }
  h2 {
    color: rgb(112, 6, 59);
    text-align: center;
    font-size: 28px;
  }
  li {
    color: rgb(147, 220, 238);
  }
  h3 {
    color: rgb(43, 211, 253);
    font-size: 28px;
  }
  body {
    background-image: url('blossoms.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
    .dropbtn {
    background-color: rgba(112, 6, 59, 0.90);
    color: white;
    padding: 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; 
    border: 1px solid grey;
    border-radius: 8px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cbdae7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
        
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   }
  
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
 
  .dropdown:hover .dropbtn {background-color: #2c8297;}
  
  iframe {
   border: 2px solid rgb(112, 6, 59);
   border-radius: 8px;
  }
  table {
    background-color: rgba(112, 6, 59, 0.85);
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    text-align: center;
    color :rgb(220, 224, 224)
    
  }
  thead {
    font-size:  larger ;
  }
